{% extends "base.html" %} {% block title %} Home - Stock App {% endblock %} {%
block content %}
<!-- Header Banner -->
<div class="bg-blue-400 shadow text-gray-100 p-8 rounded-md text-center">
  <h1 class="text-3xl font-bold">Welcome to Stock App</h1>
  <p class="mt-2">Analyze stock indicators and make informed decisions.</p>
</div>

<!-- Selection Section -->
<form method="POST" class="mt-6 flex justify-between items-center">
  <!-- Left Section for Stock List and Time Frame -->

  <!-- Stock List Selection -->
  <div class="w-1/3 mx-3">
    <label for="stock-list" class="block text-sm font-medium text-gray-700">
      Choose Stock List
    </label>
    <select
      id="stock-list"
      name="stock-list"
      class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
    >
      {% for stock_list in stock_lists %}
      <option value="{{ stock_list.id }}">
        {{ stock_list.name }} ({{ stock_list.total_stocks }} stocks)
      </option>
      {% endfor %}
    </select>
  </div>

  <!-- Time Frame Selection -->
  <div class="w-1/3 mx-3">
    <label for="time-frame" class="block text-sm font-medium text-gray-700">
      Choose Time Frame
    </label>
    <select
      id="time-frame"
      name="time-frame"
      class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md"
    >
      <option value="1D">Daily</option>
      <option value="23H">23 Hours</option>
      <option value="8H">8 Hours</option>
      <option value="1H">1 Hour</option>
    </select>
  </div>

  <!-- Right Section for "Get Stock Data" Button -->
  <div class="w-1/3 mx-3 flex justify-end align-middle pt-6">
    <button
      type="submit"
      class="bg-blue-400 text-white px-14 py-2 rounded-md font-bold hover:bg-blue-500"
    >
      Get Stock Data
    </button>
  </div>
</form>

<!-- Results Section -->
{% if Data %}
<div class="mt-8">
  <h2 class="text-xl font-bold mb-4">Stock Data Results</h2>

  <!-- Stock Data Table -->
  <div class="overflow-x-auto bg-white shadow rounded-lg">
    <table class="min-w-full table-auto">
      <thead>
        <tr class="bg-gray-100">
          <th class="px-4 py-2 border">Stock</th>
          <th class="px-4 py-2 border">RSI</th>
          <th class="px-4 py-2 border">MACD</th>
          <th class="px-4 py-2 border">ADX</th>
          <th class="px-4 py-2 border">Results</th>
          <th class="px-4 py-2 border">Most Recent Data Point</th>
        </tr>
      </thead>
      <tbody>
        {% for stock in Data %}
        <tr>
          <td class="px-4 py-2 border">{{ stock.symbol }}</td>
          <td class="px-4 py-2 border">
            {% if stock.rsi < 0 %}
            <span class="text-red-500">Sell</span>
            {% elif stock.rsi > 0 %}
            <span class="text-green-500">Buy</span>
            {% else %}
            <span class="text-gray-500">N/A</span>
            {% endif %}
          </td>
          <td class="px-4 py-2 border">
            {% if stock.macd < 0 %}
            <span class="text-red-500">Sell</span>
            {% elif stock.macd > 0 %}
            <span class="text-green-500">Buy</span>
            {% else %}
            <span class="text-gray-500">N/A</span>
            {% endif %}
          </td>
          <td class="px-4 py-2 border">
            {% if stock.adx < 0 %}
            <span class="text-red-500">Sell</span>
            {% elif stock.adx > 0 %}
            <span class="text-green-500">Buy</span>
            {% else %}
            <span class="text-gray-500">N/A</span>
            {% endif %}
          </td>
          <td class="px-4 py-2 border">
            <span class="text-green-500"
              >{{ stock.rsi + stock.macd + stock.adx }}</span
            >
          </td>
          <td class="px-4 py-2 border">
            <!-- Most Recent Data Point in Single Row -->
            <div class="flex flex-row text-sm">
              <div class="flex flex-col mr-4 space-y-2">
                <span class="text-gray-700"
                  ><strong class="text-blue-500">Timestamp-UTC:</strong> {{
                  stock.recent_data.timestamp }}</span
                >
                <span class="text-green-600"
                  ><strong class="text-blue-500">High:</strong> {{
                  stock.recent_data.high }}</span
                >
                <span class="text-red-600"
                  ><strong class="text-blue-500">Low:</strong> {{
                  stock.recent_data.low }}</span
                >
              </div>

              <div class="flex flex-col mr-4 space-y-2">
                <span class="text-green-600"
                  ><strong class="text-blue-500">Close:</strong> {{
                  stock.recent_data.close }}</span
                >
                <span class="text-blue-600"
                  ><strong class="text-blue-500">Open:</strong> {{
                  stock.recent_data.open }}</span
                >
                <span class="text-gray-600"
                  ><strong class="text-blue-500">Volume:</strong> {{
                  stock.recent_data.volume }}</span
                >
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% else %}
<div class="mt-8">
  <p class="text-xl font-bold mb-4">
    Please choose a stock-list and time frame and click get the stock data.
  </p>
</div>
{% endif %} {% endblock %}
